<p id="notice"><%= notice %></p>

<h1>Payloads</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Timestamp</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payloads.each do |payload| %>
      <tr>
        <td><%= payload.id %></td>
        <td><%= payload.created_at %></td>
        <td><%= link_to 'Show', payload %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
